<!DOCTYPE html>
<html>

<head>
    <title>FoodMunch</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>

<body>
    <div id="home">
        <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
            <div class="container">
                <a class="navbar-brand " href="#home">
                    <img class="logo" src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/food-munch-logo-img.png" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active custom-nav-link" id="nav-item1">
                            <a class="nav-link" href="#why-choose-us">Why choose Us? <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item custom-nav-link" id="nav-item2">
                            <a class="nav-link" href="#explore-menu">Explore Menu</a>
                        </li>
                        <li class="nav-item custom-nav-link" id="nav-item3">
                            <a class="nav-link" href="#delivery-and-payment-section">Delivery and Payments</a>
                        </li>
                        <li class="nav-item custom-nav-link" id="nav-item4">
                            <a class="nav-link" href="#">Follow Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="banner-section-bg-container d-flex flex-column justify-content-center">
            <div class="text-center">
                <h1 class="banner-heading mb-3">Get Delicious Food Any Time</h1>
                <p class="banner-captions mb-4">
                    Eat smart & healthy
                </p>
                <button class="custom-button">View More</button>
                <button class="custom-outline-button">Order Now</button>
            </div>
        </div>
        <div class="wcs-section" id="why-choose-us">
            <div class="container">
                <div class="row">
                    <div class="col-12 pt-5 pb-5 ">
                        <h1 class="wcs-section-heading ">Why Choose Section</h1>
                        <p class="wcs-section-descrpition">We use both original recipes and classic versions of famous food items. </p>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="wcs-card p-3 mb-3">
                            <img class="wcs-image" src="https://media.istockphoto.com/vectors/platter-vector-icon-glyph-style-illustration-vector-id1206492395?k=20&m=1206492395&s=612x612&w=0&h=TGzvBsazyYzdCFhk-_qBAzhsCt4z3vxy508R3FBRocY=" />
                            <h1 class="wcu-card-title mt-3"> Food Serices</h1>
                            <p class="wcs-section-descrpition">Exprience fine dinning of comfort at your home.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="wcs-card p-3 mb-3">
                            <img class="wcs-image" src="https://previews.123rf.com/images/yupiramos/yupiramos1812/yupiramos181201988/112882730-fresh-healthy-food-fruits-on-white-background-vector-illustration.jpg" />
                            <h1 class="wcu-card-title mt-3"> Fresh Food</h1>
                            <p class="wcs-section-descrpition">provides fresh-cut vegies and fruits from the farms</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="wcs-card p-3 mb-3">
                            <img class="wcs-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLXIN6HsW0I6mQedB96i6fZB1duzEa5Nu5wg&usqp=CAU" />
                            <h1 class="wcu-card-title mt-3"> Best Offers</h1>
                            <p class="wcs-section-descrpition">Food Coupons and deals upto <b>50% </b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="explore-menu-section pt-3 pb-5" id="explore-menu">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="menu-section-heading mb-3">Explore Menu</h1>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="shadow-lg p-3 menu-item-card mb-3">
                            <img class="menu-item-image" src="https://www.punjabibynature.ca/image/cache/catalog/Categories/Plate_Amritsari%20Dhaba%201670-600x315w.jpg" />
                            <h1 class="menu-card-title"> Non-Veg Starters</h1>
                            <a href="" class="menu-items-link"> View all</a>
                            <svg width="16" height="16" fill="#d0b200" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                            </svg>
                        </div>

                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="shadow-lg p-3 menu-item-card mb-3">
                            <img class="menu-item-image" src="https://i.ytimg.com/vi/czzyrN-xXVs/maxresdefault.jpg" />
                            <h1 class="menu-card-title"> Veg Starters</h1>
                            <a href="" class="menu-items-link"> View all</a>
                            <svg width="16" height="16" fill="#d0b200" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                            </svg>
                        </div>

                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="shadow-lg p-3 menu-item-card mb-3">
                            <img class="menu-item-image" src="https://ichef.bbci.co.uk/food/ic/food_16x9_448/recipes/chickensoup_1918_16x9.jpg" />
                            <h1 class="menu-card-title"> Soups</h1>
                            <a href="" class="menu-items-link"> View all</a>
                            <svg width="16" height="16" fill="#d0b200" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                            </svg>
                        </div>

                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="shadow-lg p-3 menu-item-card mb-3">
                            <img class="menu-item-image" src="https://assets.vogue.in/photos/626be08312fcfd42bba6a1b5/master/w_1600%2Cc_limit/Fresh%2520Catch1%2520.jpg" />
                            <h1 class="menu-card-title"> Fish & sea-foods</h1>
                            <a href="" class="menu-items-link"> View all</a>
                            <svg width="16" height="16" fill="#d0b200" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                            </svg>
                        </div>

                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="shadow-lg p-3 menu-item-card mb-3">
                            <img class="menu-item-image" src="https://www.godine.co.uk/blog/wp-content/uploads/2009/12/Indian-main-course.jpg" />
                            <h1 class="menu-card-title"> Main Course</h1>
                            <a href="" class="menu-items-link"> View all</a>
                            <svg width="16" height="16" fill="#d0b200" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                            </svg>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="shadow-lg p-3 menu-item-card mb-3">
                            <img class="menu-item-image" src="https://c.ndtvimg.com/2020-04/720p61v_noodles_625x300_16_April_20.jpg" />
                            <h1 class="menu-card-title"> Noodles</h1>
                            <a href="" class="menu-items-link"> View all</a>
                            <svg width="16" height="16" fill="#d0b200" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                            </svg>
                        </div>

                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="shadow-lg p-3 menu-item-card mb-3">
                            <img class="menu-item-image" src="https://barefeetinthekitchen.com/wp-content/uploads/2017/12/Salads-Everyday-5-1-of-1.jpg" />
                            <h1 class="menu-card-title"> salads</h1>
                            <a href="" class="menu-items-link"> View all</a>
                            <svg width="16" height="16" fill="#d0b200" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                            </svg>
                        </div>

                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="shadow-lg p-3 menu-item-card mb-3">
                            <img class="menu-item-image" src="https://images-gmi-pmc.edge-generalmills.com/34c0ac81-656b-45f1-b0b9-6eff351f2dc9.jpg" />
                            <h1 class="menu-card-title"> Deserts</h1>
                            <a href="" class="menu-items-link"> View all</a>
                            <svg width="16" height="16" fill="#d0b200" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                            </svg>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="healthy-food-section pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-5">
                        <div class="text-center">
                            <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/healthy-food-plate-img.png" class="healthy-food-section-img" />
                        </div>
                    </div>
                    <div class="col-12 col-md-7">
                        <h1 class="healthy-food-section-heading">
                            Fresh, Healthy, Organic, Delicious Fruits
                        </h1>
                        <p class="healthy-food-section-description">
                            Say no to harmful chemicals and go fully organic with our range of
                            fresh fruits and veggies. Pamper your body and your senses with
                            the true and unadulterated gifts from mother nature. with the true
                            and unadulterated gifts from mother nature.
                        </p>
                        <button class="custom-button">Watch Video</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="delivery-and-payment-section pt-5 pb-5" id="delivery-and-payment-section">
            <div class="container">
                <div class="row d-flex">
                    <div class="col-12 col-md-5 order-3 d-none d-md-block">
                        <div class="text-center">
                            <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/delivery-payment-section-img.png" alt="" class="delivery-and-payment-section-img" />
                        </div>
                    </div>
                    <div class="col-12 col-md-5 order-1 d-md-none">
                        <div class="text-center">
                            <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/delivery-payment-section-img.png" alt="" class="delivery-and-payment-section-img" />
                        </div>
                    </div>
                    <div class="col-12 col-md-7 order-2">
                        <h1 class="delivery-and-payment-section-heading">
                            Delivery and Payment
                        </h1>
                        <p class="delivery-and-payment-section-description">
                            Enjoy hassle-free payment with the plenitude of payment options
                            available for you. Get live tracking and locate your food on a
                            live map. It's quite a sight to see your food arrive to your door.
                            Plus, you get a 5% discount on every order every time you pay
                            online.
                        </p>
                        <button class="custom-button">Order Now</button>
                        <div class="mt-3">
                            <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/visa-card-img.png" class="payment-card-img" />
                            <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/master-card-img.png" class="payment-card-img" />
                            <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/paypal-card-img.png" class="payment-card-img" />
                            <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/american-express-img.png" class="payment-card-img" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="thanking-customers-section pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-7 d-flex flex-column justify-content-center">
                        <h1 class="thanking-customers-section-heading">
                            Thank you for being a valuable customer to us.
                        </h1>
                        <p class="thanking-customers-section-description">
                            We have a surprise gift for you
                        </p>
                        <div class="text-center">
                            <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/thanking-customers-section-img.png" class="thanking-customers-section-img d-md-none " />
                        </div>
                        <div>
                            <button class="custom-button ">Redeem Gift</button>
                        </div>
                    </div>
                    <div class="col-md-5 d-none d-md-block text-center">
                        <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/thanking-customers-section-img.png" class="thanking-customers-section-img " />
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
